@model ChittorAPPAdmin.Entities.Area

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Area</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.AreaName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaName)
                @Html.ValidationMessageFor(model => model.AreaName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaAddedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaAddedDate)
                @Html.ValidationMessageFor(model => model.AreaAddedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaModifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaModifiedDate)
                @Html.ValidationMessageFor(model => model.AreaModifiedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaAddedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaAddedBy)
                @Html.ValidationMessageFor(model => model.AreaAddedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaModifiedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaModifiedBy)
                @Html.ValidationMessageFor(model => model.AreaModifiedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictID, "DistrictID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DistrictID", String.Empty)
                @Html.ValidationMessageFor(model => model.DistrictID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
