@model ChittorAPPAdmin.Entities.SubArea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubArea</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Areas.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Areas.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
